<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add</title>
</head>

<body>
  <a href="/">返回首页</a>
  <form action="/add" method="post">
    <label for="">姓名</label>
    <input type="text" name="name">
    <label for="">年龄</label>
    <input type="text" name="age">
    <input type="radio" id="nan" name="gender" value="1" checked>
    <label for="nan">男</label>
    <input type="radio" id="nv" name="gender" value="0">
    <label for="nv">女</label>
    <button type="submit">发表</button>
  </form>
</body>

</html>