<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>express</title>
  <link rel="stylesheet" href="/public/index.css">
</head>
<body>
  <div class="list">
    <button><a href="/add">增加</a></button>
    <ul>
      {{each myList}}
      <li>{{$index}} | {{$value.name}} | {{$value.age}} | {{$value.gender}} ------|| <a href="/edit?id={{$value.id}}">修改</a><a href="/delete?id={{$value.id}}">删除</a></li>
      {{/each}}
    </ul>
  </div>
</body>
</html>